In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Datasets/Salary Data.csv')

In [3]:
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [5]:
df.info

<bound method DataFrame.info of       Age  Gender Education Level                      Job Title  \
0    32.0    Male      Bachelor's              Software Engineer
1    28.0  Female        Master's                   Data Analyst
2    45.0    Male             PhD                 Senior Manager
3    36.0  Female      Bachelor's                Sales Associate
4    52.0    Male        Master's                       Director
..    ...     ...             ...                            ...
370  35.0  Female      Bachelor's       Senior Marketing Analyst
371  43.0    Male        Master's         Director of Operations
372  29.0  Female      Bachelor's         Junior Project Manager
373  34.0    Male      Bachelor's  Senior Operations Coordinator
374  44.0  Female             PhD        Senior Business Analyst

     Years of Experience    Salary
0                    5.0   90000.0
1                    3.0   65000.0
2                   15.0  150000.0
3                    7.0   60000.0
4                   20.0  200000.0
..                   ...       ...
370                  8.0   85000.0
371                 19.0  170000.0
372                  2.0   40000.0
373                  7.0   90000.0
374                 15.0  150000.0

[375 rows x 6 columns]>

In [4]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [6]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df["Years of Experience"] = df["Years of Experience"].fillna(df['Years of Experience'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

In [7]:
most_frequent_category=df['Gender'].mode().iloc[0]
df['Gender'].fillna(most_frequent_category,inplace=True)

most_frequent_category=df['Job Title'].mode().iloc[0]
df['Job Title'].fillna(most_frequent_category,inplace=True)

most_frequent_category=df['Education Level'].mode().iloc[0]
df['Education Level'].fillna(most_frequent_category,inplace=True)

In [8]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [10]:
df['Gender'] = le.fit_transform(df['Gender'])
df['Education Level'] = le.fit_transform(df['Education Level'])
df['Job Title'] = le.fit_transform(df['Job Title'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  375 non-null    float64
 1   Gender               375 non-null    int64
 2   Education Level      375 non-null    int64
 3   Job Title            375 non-null    int64
 4   Years of Experience  375 non-null    float64
 5   Salary               375 non-null    float64
dtypes: float64(3), int64(3)
memory usage: 17.7 KB

In [12]:
X=df.drop(columns=['Salary'])
y=df['Salary']

In [13]:
X

      Age  Gender  Education Level  Job Title  Years of Experience
0    32.0       1                0        159                  5.0
1    28.0       0                1         17                  3.0
2    45.0       1                2        130                 15.0
3    36.0       0                0        101                  7.0
4    52.0       1                1         22                 20.0
..    ...     ...              ...        ...                  ...
370  35.0       0                0        131                  8.0
371  43.0       1                1         30                 19.0
372  29.0       0                0         70                  2.0
373  34.0       1                0        137                  7.0
374  44.0       0                2        110                 15.0

[375 rows x 5 columns]

In [14]:
y

0       90000.0
1       65000.0
2      150000.0
3       60000.0
4      200000.0
         ...
370     85000.0
371    170000.0
372     40000.0
373     90000.0
374    150000.0
Name: Salary, Length: 375, dtype: float64

K fold cross validation

```
# This is formatted as code
```

In [15]:
from sklearn.tree import DecisionTreeRegressor

DTregressor = DecisionTreeRegressor(criterion='squared_error',  # Mean Squared Error
                                    max_depth=10,  # Maximum depth of the tree
                                    min_samples_split=2,  # Minimum number of samples required to split an internal node
                                    min_samples_leaf=1,  # Minimum number of samples required to be at a leaf node
                                    max_features=None,  # Number of features to consider when looking for the best split
                                    max_leaf_nodes=None,  # Maximum number of leaf nodes
                                    min_impurity_decrease=0.0)  # A node will be split if this split induces a decrease of the impurity greater than or equal to this value

In [16]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

K_fold = KFold(10)  # Fix the variable name here

result1 = cross_val_score(DTregressor, X, y, cv=K_fold, scoring='neg_mean_squared_error')
result2 = cross_val_score(DTregressor, X, y, cv=K_fold, scoring='neg_mean_absolute_percentage_error')
result3 = cross_val_score(DTregressor, X, y, cv=K_fold, scoring='r2')

In [17]:
result1 #negative MSE

array([-7.29605263e+08, -8.76285774e+08, -4.70484273e+08, -2.07989102e+08,
       -1.67365973e+08, -1.60109233e+08, -1.23389280e+08, -6.26669747e+07,
       -8.27064499e+07, -2.42641175e+08])

In [18]:
result2   #negative MSE

array([-0.17754084, -0.18692019, -0.16668767, -0.11195673, -0.10889676,
       -0.10215221, -2.77609483, -0.05808102, -0.0504433 , -0.05289946])

In [19]:
result3

array([0.74914055, 0.63575893, 0.84375377, 0.84394178, 0.92891286,
       0.92150216, 0.93883852, 0.96504159, 0.95677356, 0.85453804])

In [20]:
overall_MAE_percentage= sum(result2)/len(result2)
print(abs(overall_MAE_percentage)*100)

37.91673022042389

In [21]:
overall_R2=sum(result3)/len(result3)
print(overall_R2)

0.8638201749601594

**Find what matrix support**

In [22]:
import sklearn
sklearn.metrics.get_scorer_names()

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'matthews_corrcoef',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_negative_likelihood_ratio',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'positive_likelihood_ratio',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']

KeyError: 'class'